@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

#content {
    width: 960px;
    text-align: center;
    margin: auto;
}
h1 {
    font-family: Roboto Condensed;
}

h2 {
    font-family: Roboto Condensed;
}

p {
    font-family: Roboto;
}

img {
    width: 80%;
}

p{
    
    font-family: Roboto;
}

iframe{
    width: 960px;
    height: 540px;
}

a {
    color: black;
}

a[href="https://ru.wikipedia.org/wiki/Lorem_ipsum"]:hover{
    color: pink;
    font-size: 20px;
}

a[href="https://ru.wikipedia.org/wiki/Lorem_ipsum"]:visited{
    color: red;
}

